In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/chandana-21/ml-projects/main/spam-sms-classification/data.csv?token=ATBJOGFCXEX6KWN4C25IG3DBZWXL6")

In [3]:
pd.set_option('display.max_colwidth', None)
df.head()

,Category,Message
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."
1,ham,Ok lar... Joking wif u oni...
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
3,ham,U dun say so early hor... U c already then say...
4,ham,"Nah I don't think he goes to usf, he lives around here though"

In [4]:
df.groupby("Category").describe()

         Message         \
           count unique
Category
ham         4825   4516
spam         747    641

                                                                                                                                                               \
                                                                                                                                                          top
Category
ham                                                                                                                                    Sorry, I'll call later
spam      Please call our customer service representative on FREEPHONE 0808 145 4742 between 9am-11pm as you have WON a guaranteed £1000 cash or £5000 prize!


         freq
Category
ham        30
spam        4

In [5]:
df['spam'] = df.Category.apply(lambda x : 1 if x=='spam' else 0)
df.head()

,Category,Message,spam
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...",0
1,ham,Ok lar... Joking wif u oni...,0
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's,1
3,ham,U dun say so early hor... U c already then say...,0
4,ham,"Nah I don't think he goes to usf, he lives around here though",0

In [6]:
import nltk
import string

In [7]:
df.Message = df.Message.astype(str)
df.Message = df.Message.str.lower()

In [8]:
def remove_punc(text):
    return text.translate(str.maketrans('','',string.punctuation))

df['wo_punc'] = df.Message.apply(lambda text: remove_punc(text))
df.head()

,Category,Message,spam,wo_punc
0,ham,"go until jurong point, crazy.. available only in bugis n great world la e buffet... cine there got amore wat...",0,go until jurong point crazy available only in bugis n great world la e buffet cine there got amore wat
1,ham,ok lar... joking wif u oni...,0,ok lar joking wif u oni
2,spam,free entry in 2 a wkly comp to win fa cup final tkts 21st may 2005. text fa to 87121 to receive entry question(std txt rate)t&c's apply 08452810075over18's,1,free entry in 2 a wkly comp to win fa cup final tkts 21st may 2005 text fa to 87121 to receive entry questionstd txt ratetcs apply 08452810075over18s
3,ham,u dun say so early hor... u c already then say...,0,u dun say so early hor u c already then say
4,ham,"nah i don't think he goes to usf, he lives around here though",0,nah i dont think he goes to usf he lives around here though

In [9]:
df = df.drop('Message',axis=1)
df.head()

,Category,spam,wo_punc
0,ham,0,go until jurong point crazy available only in bugis n great world la e buffet cine there got amore wat
1,ham,0,ok lar joking wif u oni
2,spam,1,free entry in 2 a wkly comp to win fa cup final tkts 21st may 2005 text fa to 87121 to receive entry questionstd txt ratetcs apply 08452810075over18s
3,ham,0,u dun say so early hor u c already then say
4,ham,0,nah i dont think he goes to usf he lives around here though

In [10]:
from nltk.corpus import stopwords

stopwords = set(stopwords.words('english'))
def remove_stopwords(text):
    return " ".join([word for word in str(text).split() if word not in stopwords])

df['wo_stopwords'] = df.wo_punc.apply(lambda text: remove_stopwords(text))
df.head()

,Category,spam,wo_punc,wo_stopwords
0,ham,0,go until jurong point crazy available only in bugis n great world la e buffet cine there got amore wat,go jurong point crazy available bugis n great world la e buffet cine got amore wat
1,ham,0,ok lar joking wif u oni,ok lar joking wif u oni
2,spam,1,free entry in 2 a wkly comp to win fa cup final tkts 21st may 2005 text fa to 87121 to receive entry questionstd txt ratetcs apply 08452810075over18s,free entry 2 wkly comp win fa cup final tkts 21st may 2005 text fa 87121 receive entry questionstd txt ratetcs apply 08452810075over18s
3,ham,0,u dun say so early hor u c already then say,u dun say early hor u c already say
4,ham,0,nah i dont think he goes to usf he lives around here though,nah dont think goes usf lives around though

In [11]:
df = df.drop('wo_punc',axis=1)
df.head()

,Category,spam,wo_stopwords
0,ham,0,go jurong point crazy available bugis n great world la e buffet cine got amore wat
1,ham,0,ok lar joking wif u oni
2,spam,1,free entry 2 wkly comp win fa cup final tkts 21st may 2005 text fa 87121 receive entry questionstd txt ratetcs apply 08452810075over18s
3,ham,0,u dun say early hor u c already say
4,ham,0,nah dont think goes usf lives around though

In [12]:
from nltk.stem.porter import PorterStemmer

stemmer = PorterStemmer()
def stem_words(text):
    return " ".join([stemmer.stem(word) for word in text.split()])

df['stemmed'] = df.wo_stopwords.apply(lambda text: stem_words(text))
df.head()

,Category,spam,wo_stopwords,stemmed
0,ham,0,go jurong point crazy available bugis n great world la e buffet cine got amore wat,go jurong point crazi avail bugi n great world la e buffet cine got amor wat
1,ham,0,ok lar joking wif u oni,ok lar joke wif u oni
2,spam,1,free entry 2 wkly comp win fa cup final tkts 21st may 2005 text fa 87121 receive entry questionstd txt ratetcs apply 08452810075over18s,free entri 2 wkli comp win fa cup final tkt 21st may 2005 text fa 87121 receiv entri questionstd txt ratetc appli 08452810075over18
3,ham,0,u dun say early hor u c already say,u dun say earli hor u c alreadi say
4,ham,0,nah dont think goes usf lives around though,nah dont think goe usf live around though

In [13]:
df = df.drop('wo_stopwords',axis=1)
df.head()

,Category,spam,stemmed
0,ham,0,go jurong point crazi avail bugi n great world la e buffet cine got amor wat
1,ham,0,ok lar joke wif u oni
2,spam,1,free entri 2 wkli comp win fa cup final tkt 21st may 2005 text fa 87121 receiv entri questionstd txt ratetc appli 08452810075over18
3,ham,0,u dun say earli hor u c alreadi say
4,ham,0,nah dont think goe usf live around though

In [14]:
df['Message'] = df['stemmed']
df = df.drop('stemmed',axis=1)

In [15]:
df

,Category,spam,Message
0,ham,0,go jurong point crazi avail bugi n great world la e buffet cine got amor wat
1,ham,0,ok lar joke wif u oni
2,spam,1,free entri 2 wkli comp win fa cup final tkt 21st may 2005 text fa 87121 receiv entri questionstd txt ratetc appli 08452810075over18
3,ham,0,u dun say earli hor u c alreadi say
4,ham,0,nah dont think goe usf live around though
...,...,...,...
5567,spam,1,2nd time tri 2 contact u u £750 pound prize 2 claim easi call 087187272008 now1 10p per minut btnationalr
5568,ham,0,ü b go esplanad fr home
5569,ham,0,piti mood soani suggest
5570,ham,0,guy bitch act like id interest buy someth els next week gave us free
5571,ham,0,rofl true name

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.Message,df.spam, test_size=0.2)

In [17]:
from sklearn.feature_extraction.text import CountVectorizer

In [18]:
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)

In [19]:
X_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [20]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [21]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]

In [22]:
new_emails = []
for email in emails:
    new_emails.append(stem_words(remove_stopwords(remove_punc(email))))
    
new_emails

['hey mohan get togeth watch footbal game tomorrow',
 'upto 20 discount park exclus offer dont miss reward']

In [23]:
emails_count = v.transform(new_emails)
model.predict(emails_count)

array([0, 1])

In [24]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

0.979372197309417